
<div class="modal fade" id="myModal-<%= a.trackable.id %>" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close " data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Likes (<%=   a.trackable.get_upvotes.size  %>)</h4>
        </div>
        <div class="modal-body">
           <% a.trackable.votes_for.voters.each do |liker| %>
           <ul class="">
               <li class="">


<!-- small avatar -->
<%= image_tag liker.avatar_url(:thumbnail) || 'avatar.jpg' , class: "avatar img-responsive img-thumbnail"%>

<%= link_to liker.name, user_path(liker.slug) %>
              </li>
               
          </ul>
          

<% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>